@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #18181B;
    color: #fff;
}

header {
    display: flex;
    margin: auto;
    justify-content: center;
    font-size: 1.6em;
    padding: 10px;
}

h1 {
    text-align: center;
}

.jogoDaVelha {
    background-color: black;
    display: flex;
    font-size: 1.5em;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    text-align: center;
    box-shadow: 8px 4px 10px 5px #1d4fd81e;
    
    width: 246px;
    flex-wrap: wrap;
    
}

.jogoDaVelha > div {
    display: grid;
    place-items: center;
    margin: 1px;
    width: 6em;
    cursor: pointer;
    background-color: white;
    width: 80px;
    height: 80px;
}

.jogoDaVelha > div:hover {
    background-color: rgb(204, 204, 204);
}

button {
    color: #fff;
    font-size: 1em;
    background-color: #1d4ed8;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 10px;
    box-shadow: 8px 4px 10px 5px #1d4fd81e;
    border: none;
}

button:hover {
    background-color: #1e40af;
}

#blue {
    background-color: rgb(82, 198, 233);
    width: 20px;
    height: 20px;
    margin: 8px;
}
#red {
    background-color: rgb(240, 70, 70);
    width: 20px;
    height: 20px;
    margin: 8px;
}





footer{
    position: relative;
    display: grid;
    gap: 2rem;
}


footer .socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

footer .socials a{
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}